<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- This line blocks cross site scripting -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">

    <title>ReviewOS</title>

    <!-- Material Design Integration + CSS Styling -->
    <link rel="stylesheet" href="static/css/style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <!-- These lines will be used later -->
    <link rel="manifest" href="static/manifest.json" />
    <link rel="icon" type="image/x-icon" href="static/images/favicon.png">
</head>

<body>

    <!-- Navigation Menu Section -->
    <nav>
        <div>
            <img class="title" src="static/images/ReviewOS logo.gif" alt="ReviewOS logo">
            <div class="nav_button">
                <a href="/">Home <span class="inline-icon material-icons">home</span></a>
                
            <!-- Displays different icons depending on login status -->
                {% if not session['username'] %}
                    <a href="/allreviews">All Reviews <span class="inline-icon material-icons">reviews</span></a>
                    <a class="bg" href="/login">Login</a>
                    <a class="bg" href="/register">Register</a>
                {% else %}
                    <a href="/postreview">Post Review <span class="inline-icon material-icons">edit</span></a>
                    <a href="/myreviews">My Reviews <span class="inline-icon material-icons">rate_review</span></a>
                    <a href="/allreviews">All Reviews <span class="inline-icon material-icons">reviews</span></a>
                    <a class="bg" href="/logout">Logout <span class="inline-icon material-icons">logout</span></a>
                {% endif %}
                
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <!-- This script will be for the service worker -->
    <script src="static/js/app.js"></script>

</body>
</html>