{% extends "base.html" %}

{% block content %}

<!-- Base content for the homepage -->
<div class="container">
    {% if session['username'] %}
        <h1>Welcome back, {{ session['username'] }}</h1>
        <p>Check out the most recent reviews for the latest and greatest games. <br><br>Want to post a review?</p>
        <button><a class="bg" href="/postreview">Post Review <span class="inline-icon material-icons">edit</span></a></button>
    {% else %}
        <h1>Hello there!</h1>
        <p>Check out the most recent reviews for the latest and greatest games. <br><br>Want to post a review? Login or Register today!</p>
    {% endif %}
</div>

<br>
<h2>Recent Reviews</h2>

<!-- Table of reviews on homepage -->
<table class="reviews_table">
    <thead>
        <th>Title</th>
        <th>Image</th>
        <th>Rating</th>
        <th>Username</th>
        <th>Date</th>
    </thead>

    <!-- Puts the title, image, rating, reviewer & date from each review into the table -->
    <tbody>
        {% for review in reviews %}
        <tr>
            <td>{{ review['title'] }}</td>
            <td>{{ review['reviewImage'] }}</td>
            <td>{{ '★'*review['rating'] + '☆'*(5-review['rating']) }}</td>
            <td>{{ review['reviewerName'] }}</td>
            <td>{{ review['reviewDate'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}