{% extends "base.html" %}

{% block content %}

<h1>Register with us</h1>
<p>The first step in your game review journey</p>
<h2>Enter your details</h2>
<form action="/register" method="POST">
    <label>Username</label>
    <br>
    <input type="text" name="username" id="username" placeholder="Enter here...">
    <br>
    <label>Password</label>
    <br>
    <input type="password" name="password" id="password" placeholder="Enter here...">
    <input type="submit" value="Register">
</form>

{% endblock %}