{% extends "base.html" %}

{% block content %}

<!-- Allows users to scroll for smaller screens -->
<div style="overflow-x: scroll;">
    <h1>{{ review['title'] }}</h1>
</div>

    {% if review['reviewImage'] is not none %}
        <object class="reviewImage" data="data:image/jpeg;base64,{{ convertBLOB(review['reviewImage']) }}" type=image/jpeg style="vertical-align: top;">Review Image
            <object class="reviewImage" data="data:image/png;base64,{{ convertBLOB(review['reviewImage']) }}" type=image/png aria-label="Review Image">Review Image</object>
        </object>

    {% endif %}

<!-- Displays the table next to the image if space is avaliable, can be scrolled for smaller screens -->
<div style="display: inline-block; max-width: 100%; overflow-x: auto;">

    <br>

    <table class="reviews_table">

        <thead>
            <th>Username</th>
            <th>Description</th>
            <th>Date</th>
            <th>Rating</th>
        </thead>

        <tbody>
            <tr>
                <td>{{ review['reviewerName'] }}</td>
                <td>{{ review['reviewText'] }}</td>
                <td>{{ review['reviewDate'] }}</td>
                <td>{{ '★'*review['rating'] + '☆'*(5-review['rating']) }}</td>
            </tr>
        </tbody>

    </table>
</div>

{% endblock %}